@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@keyframes float {
  0%,
  100% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
    transform: translatey(0);
  }
  50% {
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0);
    transform: translatey(-20px);
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Rubik;
  font-size: 100%;
  background-color: rgb(16, 0, 29);
  background-image: linear-gradient(
    352deg,
    rgb(16, 0, 29) 58%,
    rgb(71, 0, 112) 100% /*rgb(94, 1, 148)*/
  );
  /*linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);*/
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
}

.vdbg, .backgroundbody{
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  opacity: 0.1;
}

.video {
  height: auto;
  width: 100%;
  
}

.main-section {
  margin-bottom: 48px;
  /*border-top: 0.4px solid #ff0000;*/
}

.m-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 0, 43, 0.527);
  backdrop-filter: blur(6px);
  width: 190px;
  height: 190px;
  border-radius: 20px;
  border: 2px solid rgb(73, 13, 107);
  box-shadow: #008585;
  padding: 50px;
  margin: 13px;
}

.container-block {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 0, 43, 0.527);
  backdrop-filter: blur(6px);
  width: 190px;
  height: 190px;
  border-radius: 20px;
  border: 2px solid rgb(73, 13, 107);
  box-shadow: #850000;
  padding: 50px;
  margin: 13px;
}

.container-block:hover {
  z-index: 1;
  background: rgba(65, 1, 1, 0.2);
  border: 2px solid #db1919bb;
  transform: scale(1.2);
}

.container:hover {
  z-index: 1;
  background: rgba(1, 65, 28, 0.2);
  border: 2px solid #00e05dbb;
  transform: scale(1.2);
}

.container h1 {
  color: rgb(94, 1, 148);
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 24px;
  background: linear-gradient(270deg, #00b94d, #6a00ff);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 5s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

.container-block h1 {
  color: rgb(94, 1, 148);
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 24px;
  background: linear-gradient(270deg, #b90000, #6a00ff);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 5s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  background-color: rgba(180, 168, 196, 0.014);
  /*background-color: rgba(23, 0, 39, 0.678);*/
  backdrop-filter: blur(6px);
}

.headr-logo {
  height: 60px;
  /*border-radius: 50%;*/
}

.headr-nav-menu {
  display: flex;
  gap: 32px;
}

.headr-menu-item {
  font-family: "Rubik", sans-serif;
  color: #cfa5f7;
  font-weight: 400;
  font-size: 18px;
}

.headr-menu-item:hover {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 18px;
  background: linear-gradient(270deg, #00b94d, #6a00ff);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

.main {
  margin-bottom: 48px;
  border-top: 0.6px solid #5e461e;
}

.main-section {
  padding: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(25, 0, 48);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90, 0, 192);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 0, 151);
}

/*modal 2*/
.modal-overlay,
.modal-overlay-g {
  background-color: rgba(0, 0, 0, 0.664);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.modal,
.modal-g {
  margin: 1rem;
  width: 100%;
  max-width: 800px;
  height: 90vh;
  min-height: 100px;
  background-color: rgba(34, 0, 56, 0.349);
  backdrop-filter: blur(6px);
  border: solid 1px rgb(101, 0, 184);
  border-radius: 11px;
  display: none;
  flex-direction: column;
  overflow: auto;
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (max-width: 800px) {
  .modal,
  .modal-g {
    height: 50%;
    width: 100vw;
  }
}

.modal-header,
.modal-header-g {
  background-color: rgba(0, 0, 0, 0.13);
  padding: 1rem;
}

.modal-header h1,
.modal-header-g h1 {
  color: #e0b8fa;
}

.modal-content,
.modal-content-g {
  padding: 0.5rem 1rem;
  flex: 1;
}

.modal-footer,
.modal-footer-g {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.041);
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.title-content {
  font-size: 18px;
}

.main-section1-h2-description marktext {
  font-weight: 200px;
  color: #10b618;
}

.img-profile,
.tankifund-profile {
  line-height: 20px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-size: cover;
}

.section2 {
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section3 {
  background-color: #011d1d;
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-section1-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-section3-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-section1-h1-title {
  font-family: "Rubik";
  font-weight: 1000;
  font-size: 250px;
  text-align: center;
  background: rgb(49, 2, 80); /*-webkit-linear-gradient(#9b7636, #3a2c12);*/
  animation: float 4s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-h1-title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 68px;
  text-align: center;
  background: -webkit-linear-gradient(#9b7636, #3a2c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2-h1-title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 68px;
  text-align: right;
  background: -webkit-linear-gradient(#9b7636, #3a2c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section1-h2-description {
  font-family: "Rubik", sans-serif;
  font-weight: 70;
  font-size: 18px;
  color: #d9b5fc;
}

.titleimpact {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 60px;
  background: linear-gradient(270deg, #b90c00, #9900ff);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

.section2-h2-description {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: right;
  color: #ecd6c4;
}

.main-buttons {
  display: flex;
}

.buttons {
  text-align: center;
  align-items: center;
}

.main-section1-button {
  cursor: pointer;
  margin-right: 20px;
  background-color: rgba(94, 1, 148, 0);
  width: 180px;
  height: 60px;
  border: solid 1px #6d00e9;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff8ec;
}

.main-section1-button:hover {
  background-color: #6920f12a;
}

.main-section3-button {
  margin-right: 20px;
  background-color: #003333;
  width: 400px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #008585;
}

.main-section1-button2 {
  background-color: #094e0c;
  width: 380px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #10b618;
}

.main-section3-button:hover {
  background-color: #011818;
}

.main-section1-img {
  height: 300px;
  border-radius: 20px;
  animation: float 4s ease-in-out infinite;
}

.section2-img {
  height: 350px;
  border-radius: 20px;
  animation: float 6s ease-in-out infinite;
}

.main-section3-img {
  height: 500px;
  border-radius: 20px;
  /*animation: float 4s ease-in-out infinite;*/
}

.two-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.section2-h3-faq-title {
  border-top: 0.4px solid #5e461e;
  padding-top: 48px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff2ef;
  margin-bottom: 16px;
}

.section2-p-desc {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ecd6c4;
}

.rodape {
  /*backdrop-filter: blur(6px);*/
  text-align: left;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  color: rgb(131, 103, 150);
  border-top: 0.6px solid rgb(73, 13, 107);
  position: fixe;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
